.red{
    height: 50vh;
    width: 60%;
    background-color: rgb(255, 227, 227);
    overflow: scroll;

    border-color: black;
    border-style: solid;
    box-sizing: border-box;

    display: flex;
    flex-direction: column-reverse;
}

.red p{
    border-color: black;
    border-style: solid;
    border-width: thin;
    margin: 0;
    padding: 3%;
}

.form{
    display: flex;
    width: 60%;
    height: 5vh;
}

.input{
    width: 70%;
}

.button{
    width: 30%;
}